attrs==21.4.0
click==7.1.2
colorama==0.4.5
commonmark==0.9.1
iniconfig==1.1.1
numpy==1.22.3
packaging==21.3
plotly==5.7.0
pluggy==1.0.0
py==1.11.0
Pygments==2.12.0
pyparsing==3.0.8
pytest==7.1.1
rich==10.7.0
six==1.16.0
tenacity==8.0.1
tinydb==4.5.1
tomli==2.0.1
typer==0.3.2
vscodedebugvisualizer==0.1.0
